@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111826;
  color: #fff;
  /* padding: 0 3.5rem; */
  font-family: "Poppins", sans-serif;
}

.nav {
  padding: 2rem 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .links ul {
  display: flex;
  list-style-type: none;
}

.nav .links ul li a {
  text-decoration: none;
  color: #fff;
}

.nav .links ul li:not(:last-child) {
  margin-right: 4rem;
}

.nav .menu {
  display: none;
}

.header {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-top: 3rem;
  padding: 0 3.5rem;
}

.header .right {
  width: 50%;
}

.header .right .heading {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.header .right .sub-heading {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.header .right .desc {
  font-size: 0.8rem;
  line-height: 2;
  margin-bottom: 1.5rem;
  font-weight: 200;
}

.header .right .trial-text {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.header .right .header-btn {
  all: unset;
  background: #1fc77e;
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
  color: #fff;
  border-radius: 0.2rem;
  cursor: pointer;
  margin-top: 1.5rem;
}

.header .left {
  width: 50%;
  margin: 2rem 0 0 6rem;
}

.collection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first,
.second {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.first,
.second {
  width: 100%;
}

.first .image,
.second .image {
  width: 80%;
}

.first .image .background {
  background: #feea00;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 2.5rem 0 2.5rem 2.5rem;
  position: relative;
}

.first .image .background img {
  width: 70%;
  position: absolute;
  bottom: 0;
  z-index: 10;
  border-radius: 0 0 0 2.5rem;
}

.first .arrow .con {
  background: #7f3dd2;
  height: 6rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.first .arrow .con i {
  font-size: 4rem;
  transform: rotate(50deg);
}

.second {
  margin: 2.5rem 0;
}

.second .image .background {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 100%;
  border-radius: 3rem;
  position: relative;
}

.second .image .background img {
  position: absolute;
  bottom: 0;
}

.second .arrow .con {
  background: #1fc77e;
  height: 6rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.second .arrow .con i {
  font-size: 4rem;
  transform: rotate(-50deg);
}

.third .top {
  background: #7f3dd2;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 3rem 1.5rem;
  height: 5rem;
  width: 100%;
  border-radius: 3rem 3rem 3rem 0;
}

.third .top .text {
  width: 55%;
}

.third .top .text p {
  font-weight: 300;
}

.third .top .text p span {
  font-weight: 500;
}

.third .top .text p .time {
  float: right;
  font-size: 0.7rem;
  color: #bbb;
}

.third .top .text p .time i {
  color: #3497f9;
}

.third .bottom {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.third .bottom .left {
  background: #1fc77e;
  width: 70%;
  height: 6.5rem;
  margin-top: 2rem;
  margin-left: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  border-radius: 3rem 0 3rem 3rem;
}

.third .bottom .left img {
  width: 85%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 3rem 0 3rem 3rem;
}

.third .bottom .right {
  background: #feea00;
  /* margin-top: 3rem; */
  height: 6rem;
  width: 6rem;
  border-radius: 3rem 3rem 3rem 0;
}

.solution {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 10rem;
  padding: 0 3.5rem;
}

.solution .left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution .left .phone-con {
  position: relative;
}

.solution .left .phone-con .phone-img {
  position: absolute;
  bottom: 0;
  left: -1rem;
  z-index: 10;
}

.solution .left .phone-con .messenger,
.solution .left .phone-con .whatsapp {
  position: absolute;
  background: #fff;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.solution .left .phone-con .messenger {
  top: 2rem;
  left: -3.5rem;
}

.solution .left .phone-con .messenger img {
  width: 50%;
}

.solution .left .phone-con .whatsapp {
  width: 7rem;
  height: 7rem;
  bottom: 3.5rem;
  right: -3.5rem;
}

.solution .left .phone-con .whatsapp img {
  width: 70%;
}

.solution .left .phone-con .yellow,
.solution .left .phone-con .green {
  width: 5rem;
  height: 5rem;
  position: absolute;
  border-radius: 3rem 3rem 3rem 0;
}

.solution .left .phone-con .yellow {
  background: #feea00;
  top: 8rem;
  right: -4rem;
}

.solution .left .phone-con .green {
  background: #1fc77e;
  bottom: 9rem;
  left: -4rem;
}

.solution .right {
  width: 50%;
}

.solution .right .text .heading {
  font-size: 2.5rem;
  font-weight: 300;
  width: 90%;
}

.solution .right .text .heading span {
  color: #1fc77e;
}

.solution .right .cards .card:first-child {
  background: #fff;
  color: #000;
}

.solution .right .cards .card:first-child .text .desc,
.solution .right .cards .card:first-child img {
  display: block;
}

.solution .right .cards .card {
  background: #414651;
  margin-top: 2rem;
  padding: 1rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.solution .right .cards .card .text .title {
  margin-bottom: 0.5rem;
}

.solution .right .cards .card .text .desc {
  font-size: 0.8rem;
  display: none;
}

.solution .right .cards .card img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17%;
  padding: 0.5rem;
  background: #1fc77e;
  border-radius: 0.5rem;
  display: none;
}

.reviews {
  margin: 10rem 5rem 0;
  padding: 0 3.5rem 3rem;
  position: relative;
}

.reviews .heading {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 3rem;
  width: 50%;
}

.reviews .heading span {
  color: #1fc77e;
}

.reviews .star {
  position: absolute;
  width: 150px;
}

.reviews .yellow {
  top: -5%;
  right: 20%;
}

.reviews .purple {
  top: 10%;
  right: 10%;
}

.reviews .review-cards {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.reviews .review-cards .card {
  width: 50%;
  background: #414651;
  padding: 3.5rem;
  border-radius: 0.5rem;
}

.reviews .review-cards .card .stars {
  color: #fed400;
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.reviews .review-cards .card .title {
  margin-bottom: 1rem;
}

.reviews .review-cards .card .review-text {
  font-size: 0.7rem;
  line-height: 1.7;
  font-weight: 100;
}

.reviews .review-cards .card .user {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1.5rem;
}

.reviews .dots-con {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.reviews .dots-con .dot {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #414651;
}

.reviews .dots-con .dot:first-child {
  background: #fff;
}

.reviews .review-cards .card .user p {
  font-size: 0.8rem;
}

.cta {
  padding: 4rem;
  background: #1fc77e;
  margin: 0 8.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.cta .left {
  width: 60%;
}

.cta .left h1 {
  font-weight: 300;
}

.cta .left h1 span {
    color: #000;
}

.cta .right button {
    all: unset;
    padding: .5rem 1rem;
    background: #000;
    color: #fff;
    border-radius: .2rem;
}

.footer {
    background: #000;
    padding: 12rem 5rem 4rem;
    margin-top: -7rem;
    display: flex;
    gap: 1rem;
    align-items: start;
    justify-content: space-between;
}

.footer .logo {
    color: red;
}

.footer .footer-first,
.footer .footer-second {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: 300;
}

.footer .footer-second p:first-child {
    color: #1fc77e;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .2rem;
}
.footer .newsletter p{
    font-weight: 200;
    margin-bottom: .7rem;
}

.footer .newsletter .email-con {
    position: relative;
}

.footer .newsletter .email-con input {
    width: 100%;
    background: transparent;
    border: none;
    padding: .7rem;
    border: 1px solid #414651;
    border-radius: .3rem;
    caret-color: #1fc77e;
    color: #fff;
}

.footer .newsletter .email-con input:focus {
    outline: none;
}

.footer .newsletter .email-con i {
    position: absolute;
    right: .7rem;
    top: .7rem;
    color: #1fc77e;
}

@media (max-width: 790px) {
  .nav .links {
    display: none;
  }

  .nav .menu {
    display: block;
  }

  .nav .menu i {
    font-size: 2rem;
  }

  .header {
    flex-direction: column-reverse;
  }

  .header .right,
  .header .left {
    width: 100%;
  }

  .header .collection .first {
    margin-top: 4.5rem;
  }

  .header .collection .first .image .background img {
    width: 70%;
  }

  .header .collection .second,
  .header .collection .third {
    display: none;
  }

  .solution {
    flex-direction: column-reverse;
  }

  .solution .right {
    width: 100%;
    margin-bottom: 3rem;
  }

  .solution .right .cards .card {
    width: 100%;
  }
}
